[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
nbconvert = ">5"
Markdown = ">=2.6"
jupyter = "*"

[requires]
python_version = "3.8"

[scripts]
doc_pdf = './make_pdf.sh'
doc_html = 'python bookgen.py -t html doc'
